body {
	margin: 0px;
	padding: 0px;
	color: #777777;
	font-family: 'Open Sans',arial,sans-serif;
	font-size: 13px;
}


#box {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	border-bottom: 1px solid silver;
	margin-top: 23px;
	height: 40px;
	position: relative;
}

#pagetitle {
	font-size: 24px;
	position: absolute;
	bottom: 7px;
	left: 0px;
	font-family: 'Quicksand';
}

#pagetitle a {
	color: #777777;
	text-decoration: none;
}

#pagetitle a:hover {
	color: #666666;
	text-decoration: none;
}

#menu {
	position: absolute;
	bottom: 7px;
	right: 0px;
}

#menu .menu_items {
	margin-left: 15px;
	display: inline;
	position: relative;
}

#menu .menu_items a {
	color: #777777;
	text-decoration: none;
	z-index: 3;
	position: relative;
}

#menu .menu_items ul {
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 25px;
	z-index: 2;
	background-color: white;
	list-style: none;
	margin: 0;
	opacity: 0.85;
	filter:alpha(opacity=85);
	display: none;
}

#menu .menu_items:hover ul {
	display: block;
}

#menu .menu_items ul li {
	display: block;
	margin-top: 4px;
	margin-bottom: 8px;
}

#menu .menu_items a:hover, #menu .menu_items a.active_menu  {
	color: silver;
}

#title_image {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.block {
	width: 465px;
	padding: 0px;
	display: inline-block;
	line-height: 25px;
	margin-top: 20px;
}

#block1 {
	float: left;
}

#block2 {
	float: right;
	
}

#block2 ul {
	padding-right: 0px;
	margin-right: 0px;
	
	padding-left: 30px;
}

#block2 ul li {
	padding-right: 0px;
	margin-right: 0px;
	
}

p {
	margin-top: 0px;
}

a {
	color: silver;
}

#copyright {
	font-size: 10px;
	margin-top: 5px;
	float: right;
}



.galleria { 
	width: 960px; 
	height: 600px; 
	background: white; 
}



.videos {
	margin-top: 20px;
}

#eating {
	float: left;
}

#puppets {
	float: right;
}




.about_me_block {
	width: 350px;
	padding: 0px;
	display: inline-block;
	line-height: 25px;
	margin-top: 20px;
}

#reka_picture {
	width: 350px;
	float: left;
	margin-top: 7px;
}

#about_me {
	float: right;
	width: 595px;
}

#about_me2 {
	margin-top: 20px;
}

h3 {
	font-size: 13px;
	color: #666666;
}